<div class="container pt-3">
  <div class="row">
    <div class="col-md-6">
    <h2>{{"GENERAL.DEVICES" | translate}}</h2>
    <span class="text-muted mt-3" *ngIf="socketService.devices.length == 0">{{"GENERAL.NO_DEVICES_CONFIGURED" | translate}}</span>
    <table class="table table-hover" *ngIf="socketService.devices.length > 0">
        <thead>
          <tr>
            <th>{{"GENERAL.BUSSES.PREVIEW_SHORT" | translate}}</th>
            <th>{{"GENERAL.BUSSES.PROGRAM_SHORT" | translate}}</th>
            <th>{{"GENERAL.NAME" | translate}}</th>
            <th></th>
            <th>{{"GENERAL.DESCRIPTION" | translate}}</th>
            <th>{{"GENERAL.ACTIVE_LISTENERS" | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let device of socketService.devices" [class.text-muted]="!device.enabled">
            <td [class.bg-success]="device.modePreview"></td>
            <td [class.bg-danger]="device.modeProgram"></td>
            <td>{{device.name}}</td>
            <td><i class="fas fa-cloud text-muted" *ngIf="device.cloudConnection"></i></td>
            <td>{{device.description}}</td>
            <td><span class="badge bg-dark" *ngIf="device.listenerCount && device.listenerCount > 0">{{device.listenerCount}}</span></td>
          </tr>
        </tbody>
      </table>
      <hr class="my-5" />
      <h2>{{"GENERAL.CLIENTS" | translate}}</h2>
      <span class="text-muted mt-3" *ngIf="socketService.listenerClients.length == 0">{{"CLIENTS.NO_CLIENTS_CONNECTED" | translate}}</span>
      <table class="table table-hover" *ngIf="socketService.listenerClients.length > 0">
        <thead>
          <tr>
            <th></th>
            <th>{{"GENERAL.IP" | translate}}</th>
            <th>{{"GENERAL.TYPE" | translate}}</th>
            <th></th>
            <th>{{"GENERAL.DEVICE" | translate}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let listenerClient of socketService.listenerClients" [class.text-muted]="listenerClient.inactive">
            <td>{{listenerClient.datetime_connected | date: "shortTime"}}</td>
            <td>{{listenerClient.ipAddress}}</td>
            <td>{{listenerClient.listenerType}}</td>
            <td><i class="fas fa-cloud text-muted" *ngIf="listenerClient.cloudConnection"></i></td>
            <td>{{listenerClient.device?.name}}</td>
            <td><button *ngIf="!listenerClient.inactive && listenerClient.canBeFlashed" class="btn btn-outline-dark" (click)="socketService.flashListener(listenerClient)">{{"GENERAL.FLASH" | translate}}</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 chat">
        <h3>{{"GENERAL.CHAT" | translate}}</h3>
        <app-chat type="producer"></app-chat>
    </div>
  </div>
</div>
