<div class="modal-header">
	<h4 class="modal-title" id="modal-basic-title">Add Cloud Key</h4>
	<button class="btn" (click)="activeModal.dismiss()"><span>&times;</span></button>
</div>
<div class="modal-body">
	<div class="mb-3">
		<label for="key" class="form-label">Key</label>
		<input type="text" class="form-control" id="key" [(ngModel)]="newCloudKey" />
	</div>
	<div class="d-flex justify-content-end">
		<button class="btn btn-primary" (click)="save()"><i class="fas fa-save"></i> Add Cloud Key</button>
	</div>
</div>
