<div class="modal-header">
	<h4 class="modal-title" id="modal-basic-title">Add Cloud Key</h4>
	<button class="btn" (click)="activeModal.dismiss()"><span>&times;</span></button>
</div>
<div class="modal-body">
	<form [formGroup]="form" (ngSubmit)="save()">
		<div class="mb-3">
			<label for="key" class="form-label">Key<span class="text-danger">*</span></label>
			<input type="text" class="form-control" id="key" formControlName="key" />
			<app-form-error [control]="form.controls.key" label="Key" />
		</div>
		<div class="d-flex justify-content-end">
			<button type="submit" class="btn btn-primary" [disabled]="form.invalid">
				<i class="fas fa-save"></i> Add Cloud Key
			</button>
		</div>
	</form>
</div>
