.form-change-password {
	width: 100%;
	max-width: 400px;
	padding: 15px;
	margin: auto;
}

.form-change-password .form-floating:focus-within {
	z-index: 2;
}

.form-change-password #currentPassword {
	margin-bottom: 10px;
}

.form-change-password #newPassword {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-change-password #confirmPassword {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
