/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
    padding-top: 4.5rem;
}


.flash {
    animation: flasher 0.1s cubic-bezier(1, 0, 0, 1) infinite alternate;
}

@keyframes flasher {
to {
    background-color: white;
    opacity: 0;
}
}