{
	"server_config": {
		"ip": "localhost",
		"port": 4455,
		"useMDNS": true
	 },
	"relay_groups": [
		{
			"id": "1",
			"relays": [
				{
					"relaySerial": "123456",
					"relayNumber": 1,
					"busType": "preview"
				},
				{
					"relaySerial": "123456",
					"relayNumber": 2,
					"busType": "program"
				}
			],
			"deviceId": "a90687c3"
		},
		{
			"id": "2",
			"relays": [
				{
					"relaySerial": "123456",
					"relayNumber": 3,
					"busType": "preview"
				},
				{
					"relaySerial": "123456",
					"relayNumber": 4,
					"busType": "program"
				}
			],
			"deviceId": "2d92d338"
		}
	]
}