<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="lib/css/custom.css">
  <title>Tally Arbiter</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="lib/img/logo_white.png" height="30" alt="" loading="lazy"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"> <a class="nav-link active" href="/">Home</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/tally">Tally View</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/producer">Producer</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/settings">Settings</a> </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class='container'>
    <div class="jumbotron">
      <h1 class="display-4">Welcome!</h1>
      <p class="lead">Tally Arbiter was written by Joseph Adams and is distributed under the MIT License.</p>
      <div class="tally-qrcode" id="qrcodeRegion"></div>
      <a class="btn btn-primary btn-lg" href="/settings" role="button">Go to settings</a>
    </div>
    <div id='divLicense'>
      <p>Copyright 2020 Joseph Adams.</p>
      <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the 'Software'), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
      <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
      <p> THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
    </div>
    <p>It is not sold, authorized, or associated with any other company or product.</p>
    <p>To contact the author or for more information, please visit <a id='bloglink' href='http://www.techministry.blog'>www.techministry.blog</a>.</p>
  </div>
  <script src="lib/js/jquery-3.5.1.min.js"></script>
  <script src="lib/js/bootstrap.min.js"></script>
  <script src="lib/js/custom.js"></script>
</body>

</html>