<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="lib/css/custom.css">
  <title>Tally Arbiter</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="lib/img/logo_white.png" height="30" alt="" loading="lazy"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"> <a class="nav-link" href="/">Home</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/tally">Tally View</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/producer">Producer</a> </li>
          <li class="nav-item"> <a class="nav-link active" href="/settings">Settings</a> </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <div class="mt-5">
      <h1>Sources <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addSource" id='btnAdd_Source' onclick='Add_Source();'>Add</button></h1>
      <div class="row">
        <div class="col-xs-6" id='divContainer_Sources'>
          <div id='divSources'></div>
        </div>
        
        <div class="modal fade" id="addSource" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="">Adding a Source</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"  id='btnSource_Cancel' onclick='Cancel_Source();'>
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div id='divContainer_SourceFields'>
                  <select class="custom-select" id='selSourceType' style='display:block;'></select>
                  <div id='divSourceFields'></div>
                  <button type="button" class="btn btn-dark" id='btnAdd_Source_Save' onclick='Add_Source_Save();'>Save</button>
                  <button type="button" class="btn btn-dark" id='btnEdit_Source_Save' onclick='Edit_Source_Save();'>Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="mt-5">
      <h1>Devices <button type="button" class="btn btn-dark" id='btnAdd_Device' onclick='Add_Device();'>Add</button></h1>
      <div class="row">
        <div class="col-xs-6" id='divContainer_Devices'>
          <div id='divDevices'></div>
        </div>

        <div class="col-xs-6" id='divContainer_DeviceFields'> <span class='title'>Device</span>
          <div id='divDeviceFields'></div>
          <button id='btnAdd_Device_Save' onclick='Add_Device_Save();'>Save</button>
          <button id='btnEdit_Device_Save' onclick='Edit_Device_Save();'>Save</button>
          <button id='btnDevice_Cancel' onclick='Cancel_Device();'>Cancel</button>
        </div>
      </div>
    </div>
    
    <div class="mt-5">
      <div class="row">
        <div class="col-4" id='divContainer_DeviceSources'> <span class='title'>Device Sources</span>
          <div id='divDeviceSources_DeviceName'></div>
          <div id='divDeviceSources'></div>
          <button id='btnDeviceSources_Close' onclick='Close_Device_Sources();'>Close</button>
        </div>

        <div class="col-4" id='divContainer_DeviceSourceFields'> <span class='title'>Device Source</span>
          <div id='divDeviceSourceFields'></div>
          <button id='btnAdd_DeviceSource_Save' onclick='Add_Device_Source_Save();'>Save</button>
          <button id='btnEdit_DeviceSource_Save' onclick='Edit_Device_Source_Save();'>Save</button>
          <button id='btnDeviceSource_Cancel' onclick='Cancel_Device_Source();'>Cancel</button>
        </div>
      </div>
    </div>
    
    <div class="mt-5 row">
      <div class="col-4" id='divContainer_DeviceActions'> <span class='title'>Device Actions</span>
        <div id='divDeviceActions_DeviceName'></div>
        <div id='divDeviceActions'></div>
        <button id='btnDeviceActions_Close' onclick='Close_Device_Actions();'>Close</button>
      </div>
      
      <div class="col-4" id='divContainer_DeviceActionFields'> <span class='title'>Device Action</span>
        <div id='divDeviceActionDropdowns'> Bus:
          <select id='selDeviceAction_Bus' style='display:block;'></select>
          <br /> Active:
          <select id='selDeviceAction_BusActive' style='display:block;'>
            <option value='on'>On</option>
            <option value='off'>Off</option>
          </select>
          <br /> Output Type:
          <select id='selDeviceAction_OutputType' style='display:block;'></select>
          <br /> </div>
        <div id='divDeviceActionFields'></div>
        <br />
        <button id='btnAdd_DeviceAction_Save' onclick='Add_Device_Action_Save();'>Save</button>
        <button id='btnEdit_DeviceAction_Save' onclick='Edit_Device_Action_Save();'>Save</button>
        <button id='btnDeviceAction_Cancel' onclick='Cancel_Device_Action();'>Cancel</button>
      </div>
    </div>
    
    <hr>
    <div class="mt-5 row">
      <div class="col-xs-4" id='divContainer_Listeners'> <span class='title'>Connected Listeners:</span>
        <div id='divListeners'></div>
      </div>
      <div class="col-xs-4" id='divContainer_TSLClients'> <span class='title'>TSL Clients</span>
        <div id='divTSLClients'></div>
        <button id='btnAdd_TSL_Client' onclick='Add_TSL_Client();'>Add</button>
      </div>
      <div class="col-xs-4" id='divContainer_TSLClientFields'> <span class='title'>TSL Client</span>
        <div id='divTSLClientFields'></div>
        <button id='btnAdd_TSL_Client_Save' onclick='Add_TSL_Client_Save();'>Save</button>
        <button id='btnEdit_TSL_Client_Save' onclick='Edit_TSL_Client_Save();'>Save</button>
        <button id='btnTSL_Client_Cancel' onclick='Cancel_TSL_Client();'>Cancel</button>
      </div>
    </div>
      
    <hr>
    <div class="mt-5 row">
      <div class="col-xs-4" id='divContainer_CloudSettings'>
        <div id='divContainer_CloudDestinations'> <span class='title'><img src='lib/img/cloud.png' width='30' style='padding:3px;' />Cloud Destinations</span>
          <div id='divCloudDestinations'></div>
          <button id='btnAdd_Cloud_Destination' onclick='Add_Cloud_Destination();'>Add</button>
        </div>
        <div class="col-xs-4" id='divContainer_CloudDestinationFields'> <span class='title'>Cloud Destination</span>
          <div id='divCloudDestinationFields'></div>
          <button id='btnAdd_Cloud_Destination_Save' onclick='Add_Cloud_Destination_Save();'>Save</button>
          <button id='btnEdit_Cloud_Destination_Save' onclick='Edit_Cloud_Destination_Save();'>Save</button>
          <button id='btnCloud_Destination_Cancel' onclick='Cancel_Cloud_Destination();'>Cancel</button>
        </div>
        <div class="col-xs-4" id='divContainer_CloudKeys'> <span class='title'><img src='lib/img/cloud.png' width='30' style='padding:3px;' />Cloud Keys</span>
          <div id='divCloudKeys'></div>
          <button id='btnAdd_Cloud_Key' onclick='Add_Cloud_Key();'>Add</button>
        </div>
        <div class="col-xs-4" id='divContainer_CloudKeyFields'> <span class='title'>Cloud Key</span>
          <div id='divCloudKeyFields'></div>
          <button id='btnAdd_Cloud_Key_Save' onclick='Add_Cloud_Key_Save();'>Save</button>
          <button id='btnCloud_Key_Cancel' onclick='Cancel_Cloud_Key();'>Cancel</button>
        </div>
        <div class="col-xs-4" id='divContainer_CloudClients'> <span class='title'><img src='lib/img/cloud.png' width='30' style='padding:3px;' />Cloud Clients</span>
          <div id='divCloudClients'></div>
        </div>
      </div>
    </div>
    
    <hr>
    <div class="mt-5 row">
      <div class="col-xs-12 col-md-6" id='divContainer_Logs'>
        <h2>Logs</h2>
        <div id='divLogs'></div>
      </div>
      <div class="col-xs-12 col-md-6" id='divContainer_TallyData'>
        <h2>Tally Data</h2>
        <div id='divTallyData'></div>
      </div>
    </div>
    <span class="legal mb-5" id="version"></span>
  </div>
  <script src="lib/js/jquery-3.5.1.min.js"></script>
  <script src="lib/js/bootstrap.min.js"></script>
  <script src='/socket.io/socket.io.js'></script>
  <script src='lib/js/nosleep.min.js'></script>
  <script src="lib/js/admin.js"></script>
</body>

</html>