<div class="container pt-3">
	<h1>About</h1>
	<div class="row mt-3">
		<div class="col-xs-12 col-md-6 mt-3">
			<div class="card p-3">
				<h4>Server Version</h4>
				<b>{{ socketService.version }}</b>
				<h4>UI Version</h4>
				<b>{{ socketService.uiVersion }}</b>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 my-3">
			<div class="card p-3">
				<h4>MIT License</h4>
				<p>Copyright 2020 - {{ currentYear }} Joseph Adams and contributors.</p>
				<p>
					Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
					documentation files (the 'Software'), to deal in the Software without restriction, including without
					limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the
					Software, and to permit persons to whom the Software is furnished to do so, subject to the following
					conditions:
				</p>
				<p>
					The above copyright notice and this permission notice shall be included in all copies or substantial portions
					of the Software.
				</p>
				<p>
					THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
					TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
					THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
					CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
					DEALINGS IN THE SOFTWARE.
				</p>
				<p>It is not sold, authorized, or associated with any other company or product.</p>
				<hr />
				<p>
					To
					<a
						href="https://github.com/josephdadams/TallyArbiter/issues/new?labels=bug&template=bug.yaml&title=%5BBug%5D%3A+"
						>report a bug</a
					>
					or open a
					<a
						href="https://github.com/josephdadams/TallyArbiter/issues/new?labels=feature&template=feature.yaml&title=%5BFeature+Request%5D%3A+"
						>feature request</a
					>, please go to our <a href="https://github.com/josephdadams/TallyArbiter/issues/new/choose">issues</a> page.
				</p>
				<p>
					If you need professional support for Tally Arbiter, please visit
					<a id="bloglink" target="_blank" href="https://www.josephadams.dev">josephadams.dev</a>.
				</p>
			</div>
		</div>
	</div>
</div>
