<div class="d-flex justify-content-center mt-5 pt-5" *ngIf="!errorReportsLoaded">
    <div class="spinner spinner-border"></div>
</div>
<button (click)="locationBackService.goBack()" class="btn btn-outline-primary" style="margin: 10px" title="Go back"><i class="fas fa-arrow-left"></i> {{"GENERAL.BACK" | translate}}</button>
<div *ngIf="errorReportsLoaded">
    <div class="container mt-5">
        <div class="form-group" *ngIf="socketService.errorReports.length > 0">
            <select class='form-control col-xs-6 col-md-3' (change)="selectErrorReport($event)">
                <option disabled selected>-- {{"ERRORS.SELECT_ERROR_REPORT" | translate}} --</option>
                <option [value]="errorReport.id" *ngFor="let errorReport of socketService.errorReports">{{ errorReport.datetime }} {{ unread_error_reports.includes(errorReport.id) ? "(unread)" : "" }}</option>
            </select>
            <div class="text-center" id="buttons_div">
                <button class="btn btn-outline-success" (click)="markErrorReportsAsRead()">{{"ERRORS.MARK_ALL_AS_READ" | translate}}</button>
                <button class="btn btn-outline-danger" (click)="deleteEveryErrorReport()" style="margin-left: 10px">{{"ERRORS.DELETE_ALL_ERROR_REPORTS" | translate}}</button>
            </div>
        </div>
    </div>
    <h2 class="lead mt-5 text-center" *ngIf="socketService.errorReports.length == 0">{{"ERRORS.NO_ERROR_REPORTS_FOUND" | translate}}</h2>
</div>