div.chat {
	height: 100%;
	text-align: left;
	background-color: var(--ta-chat-bg);

	.message {
		width: 80%;
		background-color: var(--ta-chat-bubble);
		border: 1px solid var(--ta-border);

		&.server {
			background-color: var(--ta-chat-bubble-server);
			font-size: small;
		}

		&.producer {
			background-color: var(--ta-chat-bubble-producer);
		}
	}
}
