<div class="container pt-4">
  <div class="row">
    <h2>Sources
      <button class="btn btn-dark me-2" (click)="addSource(sourceModal)">Add</button>
      <button class="btn btn-dark" (click)="toggleTestMode()">Turn {{testModeOn ? 'Off' : 'On' }} Test Mode</button>
    </h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let source of sources" [class]="source.connected ? 'text-success' : 'text-danger'">
          <td>{{source.name}}</td>
          <td>{{source.sourceTypeName}}</td>
          <td>
            <button class="btn btn-dark" (click)="editSource(source, sourceModal)">Edit</button>
            <button class="btn btn-dark mx-2" (click)="deleteSource(source)">Delete</button>
            <button class="btn btn-dark" *ngIf="!source.connected" (click)="reconnect(source)">Reconnect</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr class="my-5">
  <div class="row">
    <h2>Devices
      <button class="btn btn-dark">Add</button>
    </h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>PVW</th>
          <th>PGM</th>
          <th>Name</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let device of devices; index as index">
            <td [class.bg-success]="device.modePreview"></td>
            <td [class.bg-danger]="device.modeProgram"></td>
          <td>
            <small><b>{{index+1}}</b></small>
            {{device.name}}
          </td>
          <td>{{device.description}}</td>
          <td>
            <button class="btn btn-dark me-2">Edit</button>
            <button class="btn btn-dark me-2">Edit Sources ()</button>
            <button class="btn btn-dark me-2">Edit Actions ()</button>
            <button class="btn btn-dark">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr class="my-5">
  <div class="row">
    <h2>Connected Listeners</h2>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>IP Address</th>
          <th class="bg-light">Type</th>
          <th>Device</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let listenerClient of listenerClients">
          <td>{{listenerClient.ipAddress}}</td>
          <td class="bg-light">{{listenerClient.listenerType}}</td>
          <td>
            <select class="form-select" [(ngModel)]="listenerClient.deviceId"
              [disabled]="!listenerClient.canBeReassigned">
              <option *ngFor="let device of devices" [value]="device.id">{{device.name}}</option>
            </select>
          </td>
          <td>
            <button class="btn btn-dark me-2" *ngIf="listenerClient.inactive">X</button>
            <button class="btn btn-dark" *ngIf="!listenerClient.inactive && listenerClient.canBeFlashed"
              (click)="flash(listenerClient)">Flash</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr class="my-5">
  <div class="row">
    <h2>TSL Clients</h2>
    <div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="chkTSLClients_1SecUpdate" [(ngModel)]="tslclients_1secupdate">
        <label class="form-check-label" for="chkTSLClients_1SecUpdate">1-Second Updates</label>
      </div>
    </div>
  </div>
  <hr class="my-5">
  <div class="row">
    <h2>Cloud Settings</h2>
  </div>
  <hr class="my-5">
  <div class="row">
    <div class="col-xs-12 col-md-6" id='divContainer_Logs'>
      <h2>Logs</h2>
      <div class="logs p-1" #logsContainer>
        <span class="d-block"
          [style.color]="log.type == 'console_action' ? '#00ff00' : log.type == 'error' ? '#FF0000' : '#0000FF'"
          *ngFor="let log of logs">[{{log.datetime | date: 'shortDate'}} {{log.datetime | date: 'shortTime'}}]
          {{log.log}}</span>
      </div>
    </div>
    <div class="col-xs-12 col-md-6" id='divContainer_TallyData'>
      <h2>Tally Data</h2>
      <div class="logs p-1" #tallyDataContainer>
        <span class="d-block" *ngFor="let log of tallyData">[{{log.datetime | date: 'shortDate'}}
          {{log.datetime | date: 'shortTime'}}] {{log.log}}</span>
      </div>
    </div>
  </div>
  <div class="text-muted my-3">Version {{version}}</div>
</div>


<ng-template #sourceModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{editingSource ? 'Edit' : 'Add'}} Source</h4>
    <button class="btn" (click)="modal.dismiss()"><span>&times;</span></button>
  </div>
  <div class="modal-body">
      <ng-container *ngIf="editingSource">
        <div class="mb-3">
            <label for="sourceId" class="form-label">Source Id</label>
            <input type="text" id="sourceId" class="form-control" disabled [ngModel]="currentSource.id">
          </div>
          <div class="mb-3">
            <label for="sourceType" class="form-label">Source Type</label>
            <select id="sourceType" class="form-select" disabled>
              <option>{{sourceTypes[currentSourceSelectedTypeIdx!].label}}</option>
            </select>
          </div>
      </ng-container>
      <ng-container *ngIf="!editingSource">
          <select class="form-select" ngbAutofocus [(ngModel)]="currentSourceSelectedTypeIdx">
              <option selected disabled>-- Choose Source Type --</option>
              <option *ngFor="let sourceType of filterEnabledSourceTypes(sourceTypes); index as index" [value]="index">{{sourceType.label}}</option>
            </select>
        </ng-container>
    <div *ngIf="currentSourceSelectedTypeIdx !== undefined">
        <p>{{sourceTypes[currentSourceSelectedTypeIdx].help}}</p>
        <div class="mb-3">
            <label for="sourceName" class="form-label">Source Name</label>
            <input type="text" class="form-control" id="sourceName" [(ngModel)]="currentSource.name">
        </div>
        <ng-container *ngFor="let field of getOptionFields(sourceTypes[currentSourceSelectedTypeIdx])">
            <ng-container [ngSwitch]="field.fieldType">
                <div class="mb-3" *ngSwitchCase="'text'">
                    <label [for]="field.fieldName" class="form-label">{{field.fieldLabel}}</label>
                    <input type="text" class="form-control" [id]="field.fieldName" [(ngModel)]="currentSource.data[field.fieldName]">
                </div>
                <div class="mb-3" *ngSwitchCase="['port', 'number'].includes(field.fieldType) ? field.fieldType : ''">
                    <label [for]="field.fieldName" class="form-label">{{field.fieldLabel}}</label>
                    <input type="number" class="form-control" [id]="field.fieldName" [(ngModel)]="currentSource.data[field.fieldName]">
                </div>
                <div class="mb-3" *ngSwitchCase="'multiselect'">
                    <label [for]="field.fieldName" class="form-label">{{field.fieldLabel}}</label>
                    <select class="form-select" multiple [id]="field.fieldName" [(ngModel)]="currentSource.data[field.fieldName]">
                        <option *ngFor="let option of field.options" [value]="option.id">{{option.label}}</option>
                    </select>
                    <small class="form-text">Use Ctrl to select multiple items.</small>
                </div>
                <div class="mb-3" *ngSwitchCase="'dropdown'">
                    <label [for]="field.fieldName" class="form-label">{{field.fieldLabel}}</label>
                    <select class="form-select" [id]="field.fieldName" [(ngModel)]="currentSource.data[field.fieldName]">
                        <option *ngFor="let option of field.options" [value]="option.id">{{option.label}}</option>
                    </select>
                </div>
                <div class="mb-3" *ngSwitchCase="'info'">
                    <label class="form-label">{{field.fieldLabel}}</label><br>
                    <small class="form-text">{{field.text}}</small>
                </div>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="editingSource">
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="enabled" [(ngModel)]="currentSource.enabled">
                <label class="form-check-label" for="enabled">Enabled</label>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="reconnect" [(ngModel)]="currentSource.reconnect">
                <label class="form-check-label" for="reconnect">Reconnect</label>
            </div>
        </ng-container>
        <div class="d-flex justify-content-end">
            <button class="btn btn-dark" (click)="saveCurrentSource()">{{editingSource ? 'Save Changes' : 'Add Source'}}</button>
        </div>
    </div>
  </div>
</ng-template>
