@if (socketService.initialDataLoaded()) {
	<div class="container pt-4">
		<nav class="nav nav-pills flex-column flex-sm-row">
			@for (tab of visibleTabs; track tab.path) {
				<a class="nav-link" [routerLink]="['/settings', tab.path]" routerLinkActive="active">{{ tab.label }}</a>
			}
		</nav>
		<div class="m-2 mt-4">
			<router-outlet></router-outlet>
		</div>
	</div>
}

@if (!socketService.initialDataLoaded()) {
	<div class="d-flex justify-content-center mt-5 pt-5">
		<div class="spinner spinner-border"></div>
	</div>
}
