div.logs {
	font-family: monospace;
	height: 400px;
	overflow-y: scroll;
	-webkit-user-select: text;
}

.form-control.color-input {
	height: 3rem;
	width: 5rem;
}

.color-box {
	height: 2rem;
	width: 2rem;
	display: inline-block;
	border: 2px solid grey;
	border-radius: 0.4rem;
}

nav.nav.nav-tabs .nav-link {
	color: #000;
}
