<div class="modal-header">
	<h4 class="modal-title" id="modal-basic-title">Device Sources: {{ device.name }}</h4>
	<button class="btn" (click)="activeModal.dismiss()"><span>&times;</span></button>
</div>
<div class="modal-body">
	@if (!editingDeviceSource) {
		<div>
			<div class="table-responsive">
				<table class="table table-hover align-middle">
					<thead>
						<tr>
							<th>Source</th>
							<th>Address</th>
							<th>(Bus)</th>
							<th>Allow Renaming</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@for (deviceSource of deviceSources(); track deviceSource.id) {
							<tr>
								<td>
									{{ socketService.getSourceById(deviceSource.sourceId)?.name }}
								</td>
								<td>{{ deviceSource.address }}</td>
								<td>{{ deviceSource.bus }}</td>
								<td>{{ deviceSource.rename }}</td>
								<td>
									<button class="btn btn-sm btn-secondary mx-1 my-1" (click)="editDeviceSource(deviceSource)">
										<i class="fas fa-pen"></i> Edit
									</button>
									<button class="btn btn-sm btn-danger mx-1 my-1" (click)="deleteDeviceSource(deviceSource)">
										<i class="fas fa-trash"></i> Delete
									</button>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			<button class="btn btn-success mr-1" (click)="editingDeviceSource = true">
				<i class="fas fa-plus"></i> Add Source
			</button>
		</div>
	}
	@if (editingDeviceSource) {
		<div>
			<h5>New Device Source</h5>
			<div class="mb-3">
				<label for="deviceSource" class="form-label">Source</label>
				<select
					class="form-select"
					[(ngModel)]="currentDeviceSource.sourceIdx"
					(ngModelChange)="socketService.socket.emit('source_tallydata', socketService.sources()[$event].id)"
				>
					@for (source of socketService.sources(); track source.id; let index = $index) {
						<option [value]="index">
							{{ source.name }}
						</option>
					}
				</select>
			</div>
			@if (socketService.sources()[currentDeviceSource.sourceIdx!]) {
				<div class="mb-3">
					<label for="deviceSource" class="form-label"
						>Input/Address Number ({{
							socketService.addresses()[socketService.sources()[currentDeviceSource.sourceIdx!].id].length > 0
								? 'select or '
								: ''
						}}enter manually):</label
					>
					<div class="row">
						@if (socketService.addresses()[socketService.sources()[currentDeviceSource.sourceIdx!].id].length > 0) {
							<div class="col">
								<select class="form-select" [(ngModel)]="currentDeviceSource.address">
									@for (
										address of socketService.addresses()[socketService.sources()[currentDeviceSource.sourceIdx!].id];
										track address.address
									) {
										<option [value]="address.address">
											{{ address.label }}
										</option>
									}
								</select>
							</div>
						}
						<div class="col">
							<input type="text" class="form-control" [(ngModel)]="currentDeviceSource.address" placeholder="Address" />
						</div>
					</div>
				</div>
			}
			@if (
				socketService.sources()[currentDeviceSource.sourceIdx!] &&
				getSourceBusOptionsBySourceTypeId(socketService.sources()[currentDeviceSource.sourceIdx!].sourceTypeId).length >
					0
			) {
				<div class="mb-3">
					<label for="bus" class="form-label">Bus:</label>
					<select class="form-select" [(ngModel)]="currentDeviceSource.bus">
						@for (
							bus of getSourceBusOptionsBySourceTypeId(
								socketService.sources()[currentDeviceSource.sourceIdx!].sourceTypeId
							);
							track bus.bus
						) {
							<option [value]="bus.bus">
								{{ bus.name }}
							</option>
						}
					</select>
				</div>
			}
			@if (socketService.sources()[currentDeviceSource.sourceIdx!]) {
				<div class="form-check mb-3">
					<input
						class="form-check-input"
						type="checkbox"
						id="deviceSourceRename"
						[(ngModel)]="currentDeviceSource.rename"
					/>
					<label class="form-check-label" for="deviceSourceRename"> Allow Device Renaming </label>
				</div>
			}
			<div class="d-flex justify-content-end">
				<button class="btn btn-primary" (click)="saveDeviceSource()">
					<i class="fas fa-save"></i>
					{{ currentDeviceSource.id !== undefined ? 'Save Changes' : 'Add Device Source' }}
				</button>
			</div>
		</div>
	}
</div>
