<div class="modal-header">
	<h4 class="modal-title" id="modal-basic-title">Device Actions: {{ device.name }}</h4>
	<button class="btn" (click)="activeModal.dismiss()"><span>&times;</span></button>
</div>
<div class="modal-body">
	@if (!editingDeviceAction) {
		<div>
			<div class="table-responsive">
				<table class="table table-hover align-middle">
					<thead>
						<tr>
							<th>Bus</th>
							<th>On / Off</th>
							<th>Output Type</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@for (deviceAction of deviceActions(); track deviceAction.id) {
							<tr>
								<td>{{ getBusById(deviceAction.busId)?.label }}</td>
								<td>{{ deviceAction.active ? 'On' : 'Off' }}</td>
								<td>{{ getOutputTypeById(deviceAction.outputTypeId)?.label }}</td>
								<td>
									<button class="btn btn-sm btn-secondary mx-1 my-1" (click)="editDeviceAction(deviceAction)">
										<i class="fas fa-pen"></i> Edit
									</button>
									<button
										class="btn btn-sm btn-secondary mx-1 my-1"
										title="Create a copy of this action on this device."
										(click)="duplicateDeviceAction(deviceAction)"
									>
										<i class="fas fa-copy"></i> Duplicate
									</button>
									<button class="btn btn-sm btn-danger mx-1 my-1" (click)="deleteDeviceAction(deviceAction)">
										<i class="fas fa-trash"></i> Delete
									</button>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			<button class="btn btn-success mr-1" (click)="addDeviceAction()"><i class="fas fa-plus"></i> Add Action</button>
		</div>
	}
	@if (editingDeviceAction) {
		<div>
			<h5>New Device Action</h5>
			<div class="mb-3">
				<label for="bus" class="form-label">Bus</label>
				<select class="form-select" [(ngModel)]="currentDeviceAction.busId">
					<option disabled selected [value]="undefined">-- Select --</option>
					@for (bus of socketService.busOptions(); track bus.id) {
						<option [value]="bus.id">{{ bus.label }}</option>
					}
				</select>
			</div>
			<div class="mb-3">
				<label for="bus" class="form-label">Active</label>
				<select class="form-select" [(ngModel)]="currentDeviceAction.active">
					<option disabled selected [value]="undefined">-- Select --</option>
					<option [ngValue]="true">On</option>
					<option [ngValue]="false">Off</option>
				</select>
			</div>
			<div class="mb-3">
				<label for="outputType" class="form-label">Output Type</label>
				<select class="form-select" id="outputType" [(ngModel)]="currentDeviceAction.outputTypeIdx">
					<option disabled selected [value]="undefined">-- Select --</option>
					@for (outputType of socketService.outputTypes(); track outputType.id; let index = $index) {
						<option [value]="index">
							{{ outputType.label }}
						</option>
					}
				</select>
			</div>

			@if (socketService.outputTypes()[currentDeviceAction.outputTypeIdx!]) {
				@for (
					field of getOutputOptionFields(socketService.outputTypes()[currentDeviceAction.outputTypeIdx!]);
					track field.fieldName
				) {
					@switch (field.fieldType) {
						@case ('text') {
							<div class="mb-3">
								<label [for]="field.fieldName" class="form-label">{{ field.fieldLabel }}</label>
								<input
									type="text"
									class="form-control"
									[id]="field.fieldName"
									[(ngModel)]="currentDeviceAction.data[field.fieldName]"
								/>
							</div>
						}
						@case ('password') {
							<div class="mb-3">
								<label [for]="field.fieldName" class="form-label">{{ field.fieldLabel }}</label>
								<input
									type="password"
									autocomplete="new-password"
									class="form-control"
									[id]="field.fieldName"
									[(ngModel)]="currentDeviceAction.data[field.fieldName]"
								/>
							</div>
						}
						@case (['port', 'number'].includes(field.fieldType) ? field.fieldType : '') {
							<div class="mb-3">
								<label [for]="field.fieldName" class="form-label">{{ field.fieldLabel }}</label>
								<input
									type="number"
									class="form-control"
									[id]="field.fieldName"
									[(ngModel)]="currentDeviceAction.data[field.fieldName]"
								/>
							</div>
						}
						@case ('dropdown') {
							<div class="mb-3">
								<label [for]="field.fieldName" class="form-label">{{ field.fieldLabel }}</label>
								<select
									class="form-select"
									[id]="field.fieldName"
									[(ngModel)]="currentDeviceAction.data[field.fieldName]"
								>
									<option disabled selected [value]="undefined">-- Select --</option>
									@for (option of field.options; track option) {
										<option [value]="option.id">
											{{ option.label }}
										</option>
									}
								</select>
								@if (field.help) {
									<small class="form-text">{{ field.help }}</small>
								}
							</div>
						}
						@case ('bool') {
							<div class="mb-3 form-check">
								<input
									class="form-check-input"
									type="checkbox"
									[id]="field.fieldName"
									[(ngModel)]="currentDeviceAction.data[field.fieldName]"
								/>
								<label [for]="field.fieldName" class="form-check-label">{{ field.fieldLabel }}</label>
							</div>
						}
					}
				}
			}

			<div class="d-flex justify-content-end">
				<button class="btn btn-primary" (click)="saveDeviceAction()">
					<i class="fas fa-save"></i> {{ currentDeviceAction.id !== undefined ? 'Save Changes' : 'Add Action' }}
				</button>
			</div>
		</div>
	}
</div>
