<div class="d-flex justify-content-center mt-5 pt-5" *ngIf="!socketService.devices">
	<div class="spinner spinner-border"></div>
</div>
<div *ngIf="socketService.devices">
	<div class="container mt-5" *ngIf="currentDeviceIdx === undefined">
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<select
					class="form-select col-xs-6 col-md-3"
					(change)="selectDevice($event)"
					*ngIf="socketService.devices.length > 0"
				>
					<option disabled selected>-- Select a device --</option>
					<option [value]="device.id" *ngFor="let device of socketService.devices">{{ device.name }}</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-check" *ngIf="socketService.devices.length > 0">
					<input
						class="form-check-input"
						type="checkbox"
						value=""
						id="enableChatOptionsInput"
						[(ngModel)]="enableChatOptions"
					/>
					<label class="form-check-label" for="enableChatOptionsInput"> Enable Chat </label>
				</div>
			</div>
		</div>
		<h2 class="lead mt-5" *ngIf="socketService.devices.length == 0">
			No devices are available for tally monitoring at this time.
		</h2>
	</div>

	<div
		class="d-flex flex-column max-height container-fluid pt-5 text-center"
		[class.text-white]="!currentBus?.color"
		[style.background-color]="currentBus?.color || COLORS.DARK_GREY"
		*ngIf="currentDeviceIdx !== undefined && socketService.devices[currentDeviceIdx]"
	>
		<div>
			<h1>{{ socketService.devices[currentDeviceIdx].name }}</h1>
			<small>{{ socketService.devices[currentDeviceIdx].description }}</small>
		</div>
		<div class="container flex-fill py-4" style="min-height: 50px">
			<app-chat
				*ngIf="route.snapshot.queryParams.chat !== 'false'"
				[type]="socketService.devices[currentDeviceIdx].name"
			></app-chat>
		</div>
	</div>
</div>
