#connLostSnackbar {
	min-width: 100%;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 10;
	bottom: 0px;
	font-size: 17px;
	border-radius: 10px 10px 0px 0px;
}

@media only screen and (min-width: 768px) {
	#connLostSnackbar {
		left: 50%;
		position: fixed;
		transform: translate(-50%, 0px);
		min-width: 400px;
		font-size: 20px;
		z-index: 10;
	}
}

@media only screen and (min-width: 1600px) {
	#connLostSnackbar {
		min-width: 450px;
		font-size: 28px;
		z-index: 10;
	}
}

#connLostSnackbar.show {
	visibility: visible;
	-webkit-animation:
		fadein 0.5s,
		fadeout 0.5s 2.5s;
	animation:
		fadein 0.5s,
		fadeout 0.5s 2.5s;
}
